{
    "extends": "eslint:recommended",
    "parserOptions":{
        "ecmaVersion":6,
        "sourceType":"module"
    },
    "env":{
        "node":true,
        "es6":true
    },
    "globals":{
        "process":true,
        "logger":true,
        "config":true,
        "Buffer":true
    },
    "rules":{
        "no-unused-vars":["warn",{"vars":"all","args":"none"}]
    }
}
